@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: white;
}

.container-button {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    background-color: #e31837;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 119px;
    font-size: 12px;
    text-shadow: 1px 1px 0px #555555;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
    justify-content: center;
}

li {
    border: 2px solid #e31837;
    border-radius: 5px;
    padding: 5px;
}

img {
    width: 100%;
    border-radius: 5px;
}

p {
    color: #0078ae;
}

.item-price {
    font-weight: bold;
    color: black;
}

@media (max-width: 450px) {
    ul {
        grid-template-columns: 105px 105px 105px;
    }
    button {
        width: 68px;
        height: 60px;
    }
    .container-button {
        gap: 7px;
    }
}